{{outlet}}
<Navbar />
<div class="container">
    <form id="editform">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Name" value="{{@model.name}}"
                required>
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <input type="text" class="form-control" id="address" name="address" placeholder="Address" required
                value="{{@model.address}}">
        </div>
        <div class="form-group">
            <label for="gender">Gender</label>
            <input type="text" class="form-control" id="gender" name="gender" placeholder="Gender" required
                value="{{@model.gender}}">
        </div>
        <div class="form-group">
            <label for="dob">Date of Birth</label>
            <input type="text" class="form-control" id="dob" name="dob" placeholder="Date of Birth" required
                value="{{@model.dob}}">
        </div>
        <div class="form-group">
            <label for="age">Age</label>
            <input type="text" class="form-control" id="age" name="age" placeholder="Age" required
                value="{{@model.age}}">
        </div>
        <div class="form-group">
            <label for="symptoms">Symptoms</label>
            <input type="text" class="form-control" id="symptoms" name="symptoms" placeholder="Symptoms" required
                value="{{@model.symptoms}}">
        </div>
        <div class="form-group">
            <label for="prescribedMedicines">Prescribed Medicines</label>
            <input type="text" class="form-control" id="prescribedMedicines" name="prescription"
                placeholder="Prescribed Medicines" required value="{{@model.prescription}}">
        </div>
        <div class="form-group">
            <label for="lastvisiteddate">Last visited date</label>
            <input type="text" class="form-control" id="lastvisiteddate" name="visitedDate"
                placeholder="Last visited date" required value="{{@model.visitedDate}}">
        </div>
        <button type="submit" class="btn btn-primary" {{action "updatePatient" null @model.id}}>
            Submit
        </button>

    </form>
</div>